<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <button class="nav-link active" aria-current="page" href="#">Home</button>
                            <button id="btnPresalas" class="nav-link">Salas</button>
                            <button class="nav-link">Clasificaciones</button>
                            <button class="nav-link">About</button>
                            <button class="nav-link">Contacto</button>
                            <button id="btnCerrarSesion" class="nav-link">Salir</button>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <h1>BIENVENIDO! <%= data.username %></h1>
            <h1>HOME DE LA CUNCA!</h1>
            <button>Iniciar una partida</button>
        </main>

<!--BOOTSTRAP CDN-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<!--JS-->
<script type="module" src="/js/main.js"></script>
</body>
</html>